.idea
.tctask
CHelperReport.txt
CheckerClass.template
TaskClass.template
TestCaseClass.template
TopCoderTaskClass.template
TopCoderTestCaseClass.template
*.iml
archive/*
chelper.properties
out/*
tips/*
main/Main.java
